@using NightOwl.DataLayer.Entities
@model NightOwl.DataLayer.Entities.Items
@{
    List<Items> similarItems = ViewBag.SimilarItems;
}
<section class="section details">
    <!-- details background -->
    <div class="details__bg" data-bg="img/home/home__bg.jpg"></div>
    <!-- end details background -->
    <!-- details content -->
    <div class="container">
        <div class="row">
            <!-- title -->
            <div class="col-12">
                <h1 class="details__title">@Model.Title</h1>
            </div>
            <!-- end title -->
            <!-- content -->
            <div class="col-12 col-xl-6">
                <div class="card card--details">
                    <div class="row">
                        <!-- card cover -->
                        <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-5">
                            <div class="card__cover">
                                <img src="img/Movies/@Model.Banner" alt="@Model.Title" class="img-thumbnail">
                            </div>
                        </div>
                        <!-- end card cover -->
                        <!-- card content -->
                        <div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-7">
                            <div class="card__content">
                                <div class="card__wrap">
                                    <span class="card__rate"><i class="icon ion-ios-star"></i>@Model.ImdbScore</span>
                                    <ul class="card__list">
                                        <li><a href="/SortByQuality-@Model.AvailableQualities">@Model.AvailableQualities</a></li>
                                        <li><a href="/SortByAge-@Model.AgeRating">@Model.AgeRating</a></li>
                                    </ul>
                                </div>

                                <ul class="card__meta">
                                    @if (Model.SelectedGenres.Any())
                                    {
                                        <li>
                                            <span>Genre:</span>
                                            @foreach (var genre in @Model.SelectedGenres)
                                            {
                                                <a href="/Genre-@genre.GenreId">@genre.Genres.GenreName</a>
                                            }
                                        </li>
                                    }
                                    <li><span>Release year:</span><a href="/SortByYear-@Model.ReleaseYear">@Model.ReleaseYear</a></li>
                                    @if (Model.EndRunningYear != null)
                                    {
                                        <li><span>Release year:</span> @Model.EndRunningYear</li>
                                    }
                                    <li><span>Running time:</span> @Model.RunningTime min</li>
                                    @if (Model.ManufacturerCountry != null)
                                    {
                                        <li><span>Country:</span> <a href="#">@Model.ManufacturerCountry</a></li>
                                    }
                                    @if (Model.Actors != null)
                                    {
                                        <li><span>Actors:</span> <a href="#">@Model.Actors</a></li>
                                    }
                                    @if (Model.Director != null)
                                    {
                                        <li><span>Director:</span> <a href="#">@Model.Director</a></li>
                                    }
                                </ul>

                                <div class="card__description card__description--details">
                                    @Model.Description
                                </div>
                            </div>
                        </div>
                        <!-- end card content -->
                    </div>
                </div>
            </div>
            <!-- end content -->
            <!-- player -->
            <div class="col-12 col-xl-6">
                <!-- Video files -->

                <iframe width="560" height="315" src="@Model.TrailerLink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>
            <!-- end player -->

            <div class="col-12">
                <div class="details__wrap">
                    <!-- share -->
                    <div class="details__share">
                        <span class="details__share-title">Share with friends:</span>

                        <ul class="details__share-list">
                            <li class="facebook"><a href="https://facebook.com/nightowl"><i class="icon ion-logo-facebook"></i></a></li>
                            <li class="instagram"><a href="https://instagram.com/nightowl"><i class="icon ion-logo-instagram"></i></a></li>
                            <li class="twitter"><a href="https://twitter.com/nightowl"><i class="icon ion-logo-twitter"></i></a></li>
                            <li class="vk"><a href="https://vk.com/nightowl"><i class="icon ion-logo-vk"></i></a></li>
                        </ul>
                    </div>
                    <!-- end share -->
                </div>
            </div>
        </div>
    </div>
    <!-- end details content -->
</section>
<!-- end details -->
<!-- content -->
<section class="content">
    <div class="content__head">
        <div class="container">
            <div class="border download-links">
                <h2 class="content__title">Download Box :</h2>
                <div class="col-12">
                    <div class="row">
                       @if (Model.Downloads.Any())
                        {
                            <div class="col-6 text-center">
                                @foreach (var download in Model.Downloads)
                                {
                                    <p>@download.QualityDetails : (Size:@download.ItemSize)</p>
                                }
                            </div>
                            <div class="col-6">
                                @foreach (var download in Model.Downloads)
                                {
                                    <p><a href="@download.DownloadLink">Download</a></p>
                                }
                            </div>
                        }
                       else
                       {
                           <p>Coming Soon ...</p>
                       }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- content title -->
                    <!-- end content title -->
                    <!-- content tabs nav -->
                    <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Reviews</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Photos</a>
                        </li>
                    </ul>
                    <!-- end content tabs nav -->
                    <!-- content mobile tabs nav -->
                    <div class="content__mobile-tabs" id="content__mobile-tabs">
                        <div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <input type="button" value="Comments">
                            <span></span>
                        </div>

                        <div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
                            <ul class="nav nav-tabs" role="tablist">

                                <li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Reviews</a></li>

                                <li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Photos</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end content mobile tabs nav -->
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-8">
                <!-- content tabs -->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                        <div class="row">
                          
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
                        <div class="row">
                            <!-- reviews -->
                            @await Component.InvokeAsync("Review",Model.ItemId)
                            <!-- end reviews -->
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
                        <!-- project gallery -->
                        <div class="gallery" itemscope>
                            <div class="row">
                                <!-- gallery item -->
                                <figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
                                    <a href="img/gallery/project-1.jpg" itemprop="contentUrl" data-size="1920x1280">
                                        <img src="img/gallery/project-1.jpg" itemprop="thumbnail" alt="Image description" />
                                    </a>
                                    <figcaption itemprop="caption description">Some image caption 1</figcaption>
                                </figure>
                                <!-- end gallery item -->
                                <!-- gallery item -->
                                <figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
                                    <a href="img/gallery/project-2.jpg" itemprop="contentUrl" data-size="1920x1280">
                                        <img src="img/gallery/project-2.jpg" itemprop="thumbnail" alt="Image description" />
                                    </a>
                                    <figcaption itemprop="caption description">Some image caption 2</figcaption>
                                </figure>
                                <!-- end gallery item -->
                                <!-- gallery item -->
                                <figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
                                    <a href="img/gallery/project-3.jpg" itemprop="contentUrl" data-size="1920x1280">
                                        <img src="img/gallery/project-3.jpg" itemprop="thumbnail" alt="Image description" />
                                    </a>
                                    <figcaption itemprop="caption description">Some image caption 3</figcaption>
                                </figure>
                                <!-- end gallery item -->
                                <!-- gallery item -->
                                <figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
                                    <a href="img/gallery/project-4.jpg" itemprop="contentUrl" data-size="1920x1280">
                                        <img src="img/gallery/project-4.jpg" itemprop="thumbnail" alt="Image description" />
                                    </a>
                                    <figcaption itemprop="caption description">Some image caption 4</figcaption>
                                </figure>
                                <!-- end gallery item -->
                                <!-- gallery item -->
                                <figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
                                    <a href="img/gallery/project-5.jpg" itemprop="contentUrl" data-size="1920x1280">
                                        <img src="img/gallery/project-5.jpg" itemprop="thumbnail" alt="Image description" />
                                    </a>
                                    <figcaption itemprop="caption description">Some image caption 5</figcaption>
                                </figure>
                                <!-- end gallery item -->
                                <!-- gallery item -->
                                <figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
                                    <a href="img/gallery/project-6.jpg" itemprop="contentUrl" data-size="1920x1280">
                                        <img src="img/gallery/project-6.jpg" itemprop="thumbnail" alt="Image description" />
                                    </a>
                                    <figcaption itemprop="caption description">Some image caption 6</figcaption>
                                </figure>
                                <!-- end gallery item -->
                            </div>
                        </div>
                        <!-- end project gallery -->
                    </div>
                </div>
                <!-- end content tabs -->
            </div>

            <!-- sidebar -->
            <div class="col-12 col-lg-4 col-xl-4">
                <div class="row">
                    <!-- section title -->
                    <div class="col-12">
                        <h2 class="section__title section__title--sidebar">You may also like...</h2>
                    </div>
                    <!-- end section title -->
                    @foreach (var item in similarItems)
                    {
                        <!-- card -->
                        <div class="col-6 col-sm-4 col-lg-6">
                            <div class="card">
                                <div class="card__cover">
                                    <img src="img/Movies/@item.Banner" alt="@item.Title" class="img-thumbnail img-cover">
                                    <a href="/ShowDetails-@item.ItemId" class="card__play">
                                        <i class="icon ion-ios-arrow-down icon-down-little"></i>
                                    </a>
                                </div>
                                <div class="card__content">
                                    <h3 class="card__title"><a href="/ShowDetails-@item.ItemId">@item.Title</a></h3>
                                    <span class="card__rate"><i class="icon ion-ios-star"></i>@item.ImdbScore</span>
                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                    }
                </div>
            </div>
            <!-- end sidebar -->
        </div>
    </div>
</section>
<!-- end content -->