@model IEnumerable<NightOwl.DataLayer.Entities.Items>

@{
    ViewData["Title"] = "Movies";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col col-md-12">
    <h1>List Movies :</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">New Item</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Banner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImdbScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RunningTime)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Actors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <img class="img-thumbnail adminItemBannerPhoto" src="/img/Movies/@item.Banner"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImdbScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RunningTime)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Actors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>  
            <td>
                @Html.DisplayFor(modelItem => item.AddedTime)
            </td>
            <td class="text-center">    
                <a class="btn btn-outline-info aTagsMargin" asp-action="Details" asp-controller="ManageItems" asp-route-itemId="@item.ItemId">Show More Detail's</a><br/>
                <a class="btn btn-outline-warning aTagsMargin" asp-action="Edit" asp-controller="ManageItems" asp-route-itemId="@item.ItemId">Update Item Info's</a><br/>
                <a class="btn btn-outline-danger aTagsMargin" asp-action="Delete" asp-controller="ManageItems" asp-route-itemId="@item.ItemId">Remove Item</a>
            </td>
        </tr>
}
    </tbody>
</table>

</div>
