@model NightOwl.DataLayer.Entities.Download

@{
    ViewData["Title"] = "RemoveDownloadLinks";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col col-md-12">
    <h1>Remove Download Links</h1>

    <h3>Are you sure you want to delete this link?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ItemSize)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ItemSize)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UploadDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UploadDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.QualityDetails)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.QualityDetails)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SeasonDetails)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SeasonDetails)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EpisodeDetails)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EpisodeDetails)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DownloadLink)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DownloadLink)
            </dd>
        </dl>

        <form asp-action="RemoveDownloadLinks">
            <input type="submit" value="Remove" class="btn btn-outline-danger" /> |
            <a href="/Admin/ManageDownload/@Model.ItemId">Back to List</a>
        </form>
    </div>

</div>
